@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  color: white;
}

.location, .temperature{
  height: 15vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 70px;
}

.location {
  top: 110px;
}

#status{
  visibility: hidden;
  position: absolute;
  top: 110px;
}

.temperature{
  flex-direction: column;
  margin-bottom: 40px;
}

.city-input{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
  -webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

.search-container {
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-bottom: 30px;
}

.location-button{
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.search-container:hover > .city-input {
  width: 200px;
  padding: 0 6px;
}

.search-container:hover > .location-button {
  background: white;
  color: black;
}

.degree-section{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span{
  margin: 10px;
  font-size: 30px;
}

.degree-section h2{
  font-size: 40px;
}

.footer-paragraph{
  color: grey;
  font-size: 0.8rem;
  padding: 5px 10px;
}

.venue {
  width: 275px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(#3d68e0, #261046);;
}

.venueimage {
  margin: 10px 0;
}

#venues h2 {
  font-family: Work Sans;
  font-size: 22px;
  // font-weight: 600;
  text-align: center;
  padding-top: 5px;
}

#venues {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 250px;
  visibility: hidden;
}

#venues-title {
  margin-top: 105px;
  margin-bottom: 10px;
  visibility: hidden;
}

@media (max-width: 600px) {
  #venues {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
  }
  .venue {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
  
  .city-input {
    width: 80%;
    max-width: 200px;
    padding: 0 6px;

  }
  
  .search-container {
    width: 280px;
  }
}